@{
    ViewData["Title"] = "Trgovine";
}

<button type="button" id="id_store_new_store" class="btn btn-success" style="margin-top: 20px;">Nova trgovina</button>

<div id="id_store_modal_div">

</div>

<div id="id_store_list_div">

</div>

@section Scripts{
    <script>

        /**
         * On page load get all the stores.
         */
        $(document).ready(function () {
            $("#id_store_list").replaceWith(
                $.ajax({
                    url: "@Url.Action("List")",
                    method: "GET",
                    success: function (html) {
                        $("#id_store_list_div").html(html);
                    }
                })
            );
        });

        /**
         * Get create/edit modal
         */
        $('#id_store_new_store').click(function () {

            var url = "@Url.Action("CreateOrEdit")";

            $("#id_store_modal_div").load(url, function () {
                $("#id_store_modal").modal("show");
            });
        });

        /**
         * Edit selected Store.
         */
        $("#id_store_list_div").on("click", ".EditButton", function (event) {

            var url = "@Url.Action("Edit")";
            var data = $(this).data("url");

            var urlFin = url + "?id=" + data;

            $("#id_store_modal_div").load(urlFin, function () {
                $("#id_store_modal").modal("show");
            });
        });

        /**
         * 
         */
        $("#id_store_list_div").on("click", ".DeleteButton", function (event) {

            var url = "@Url.Action("Delete")";
            var data = $(this).data("url");

            var urlFin = url + "?id=" + data;

            $("#id_store_list").replaceWith(
                $.ajax({
                    url: urlFin,
                    method: "DELETE",
                    success: function (html) {
                        $("#id_store_list_div").html(html);
                    }
                })
            );

        });

        /**
         * Close store create/edit modal on click.
         */
        $("#id_store_modal_div").on("click", "#id_store_modal_close", function () {

            CloseModalResetForm();
        });

        /**
         * Close store create/edit modal.
         * Reset form data in modal.
         */
        function CloseModalResetForm() {
            document.getElementById("id_store_modal_form").reset();
            $("#id_store_modal").modal("hide");
        }


        /**
         * Send form data, reset form and get new Store list.
         */
        $("#id_store_modal_div").on("click", "#id_store_save", function () {

            $("#id_store_list").replaceWith(
                $.ajax({
                    url: "@Url.Action("CreateOrEdit")",
                    method: "POST",
                    data: $("#id_store_modal_form").serializeArray(),
                    success: function (html) {
                        CloseModalResetForm();
                        $("#id_store_list_div").html(html);
                    }
                })
            );
        });

    </script>
}
