@{
    ViewData["Title"] = "Artikli";
}

<div class="row">
    <div class="col-lg-12">
        <div style="margin-top: 20px" class="bg-white text-dark p-3 mb-3 text-center shadow-lg">
            <partial name="_ArticleFilter" model="new ArticleFilterRequest()" />
        </div>
    </div>

    <div class="col-lg-12" id="id_article_sort_div">

    </div>

    <div class="col-lg-12" id="id_article_chart_div">

    </div>

    <div class="col-lg-12" id="id_article_list_div">

    </div>
</div>


@section Scripts{
    <script>

        /**
         * When the page is ready make it possible to click the filter button.
         */
        $(document).ready(function () {
            $("#confirmArticleFilter").click(function () {

                $.ajax({
                    url: "@Url.Action("Filter")",
                    method: "POST",
                    data: $("#articleFilter").serializeArray(),
                    success: OnSuccessFilterResult
                });
            })
        });

        /**
         * When the filter button is clicked for the first time create the sort partial view.
         * On subsequent click do nothing.
         */
        function OnSuccessFilterResult(){

            if (! !!document.getElementById("id_article_sort")) {
            }
            var url = "@Url.Action("Sort")";
            $("#id_article_sort_div").load(url, null);
        }

        /**
         * Get the data from "#articleFilter" form and convert it to a json.
         * After that make AJAX call to show sorted Articles.
         */
        $("#id_article_sort_div").on("click", "#confirmArticleSort", function (event) {

            var sortData = ObjectifyForms();
            $.ajax({
                url: "@Url.Action("Sort")",
                data: sortData,
                method: 'POST',
                success: OnSuccessSortResult
            })
        });

        /**
         * Get object from serialize forms.
         */
        function ObjectifyForms() {

            var articleSortObject = $("#articleSort").serializeArray();
            var articleFilterObject = $("#articleFilter").serializeArray();

            var returnArray = {};
            for (var i = 0; i < articleSortObject.length; i++) {
                returnArray[articleSortObject[i]['name']] = articleSortObject[i]['value'];
            }

            for (var i = 0; i < articleFilterObject.length; i++) {
                returnArray[articleFilterObject[i]['name']] = articleFilterObject[i]['value'];
            }

            return returnArray;
        }

        /**
        * When the sort button is clicked for the first time create the chart partial view.
        * On subsequent redraw it.
        */
        function OnSuccessSortResult(data) {

            var urlChart = "@Url.Action("Chart")";
            $("#id_article_chart_div").load(urlChart, function () {

                new Chart("id_article_chart",
                {
                    type: 'bar',
                    data:{
                        labels: data[1],
                        datasets: [{
                            data: data[0],
                            backgroundColor: 'rgb(255, 0, 0)',
                            borderColor: 'rgb(255, 0, 0)',
                            label: data[2]
                        }]
                    }
                });
            });

            var urlLsit = "@Url.Action("List")";
            $("#id_article_list_div").load(urlLsit, { "jsonString": data[3] })
        }
    </script>
}
